body {
    background: #5f5e5e;
}
.container{
    margin-left: 1px;
    
    
}
h1{
    
}
.kutije{
    
    position: absolute;
    top : 50% ;
    width: 20px;
    margin-top : 5px;
}
div#kutije input#Text1{
    margin-top: 10px;
    outline-style:solid;
    outline-width: 3px;
    outline-color: rgb(70, 70, 70);
}
div#kutije input#File1{
    margin-top: 10px;
    outline-style:solid;
    outline-width: 3px;
    outline-color: rgb(70, 70, 70);
}
div#kutije input#Domain1{
    margin-top: 10px;
    outline-style:solid;
    outline-width: 3px;
    outline-color: rgb(70, 70, 70);
}
div#kutije input#Hash1{
    margin-top: 10px;
    outline-style:solid;
    outline-width: 3px;
    outline-color: rgb(70, 70, 70);
}